
html{
    max-width: 60vw;
    margin: auto;
    min-height: 100vh;
}

header{
    display:  flex;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
       
}
.logo{
    font-size: 3rem;
    margin-right: auto;

 }

nav ul {
    display: flex;
   

    font-size: 1.2rem;
    list-style: none;
    
}
a{
    color:rgb(0, 153, 0);
}
li{
    padding: 0.3rem;
}
main{
    display: flex;
    flex-direction: column;
}
