/* @import url(typography.css); */
html{
    font-family: Helvetica, sans-serif;
    size: 16px;
    line-height: 1.5;
    margin: auto;
    max-width: 70rem;
    background-color:rgb(238,238,238);
    
    /* font: 16px/1.5 Helvetica, sans-serif;
    max-width: 60rem;
    margin: auto;
    padding: 2rem ; */
}
.site-title{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0.5rem;
}
img{
    display: block;
    width: 20%;
    margin: 0.5rem;
    padding:0.5rem;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

.head1 > img{
    float: right;
    
}
.innerText{
    border-left: solid 3px grey;
    font-style:italic;
}
blockquote{
    border-left: 3px solid grey;
    max-width: 50%;
    font-family: Georgia, serif;
    font-style: italic;
    float: right;
    margin: 0 0;
    padding: 1rem;
}
h1,h2{
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}
blockquote > p:nth-child(2){
    text-align: right;
}
.head3 > img{
    float: left;
}

#main-section{
    display: flex;
    flex-direction: column;
    max-width: 54rem;


}
main{
    display: flex;
  justify-content: space-between;
  
}

aside{
    display: flex;
    flex-direction: column;

}