@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');


ul li {
            height: 45px;
        width: 45px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        position: relative;
     }

li > a {
    position: absolute;
color:black;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);

}
.fa-facebook-square:hover {
    color: blue;
}

.fa-twitter:hover {
    color: lightskyblue;
}

.fa-google-plus:hover {
    color: red;
}

.fa-linkedin:hover {
    color: lightblue;
}

.fa-instagram:hover {
    color: grey;
}