table,
td,
th {
    border-width: 1px;
    text-align: left;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);

}

tr:nth-child(odd)>td {
    background-color: rgb(241, 241, 241);
}

tr:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}