/* *, *:before , *:after{
    margin:0;
    padding:0;

} */
html {
    background-color: rgb(238, 238, 238);
}
body{
    background-color:rgb(238, 238, 238);
}
.page {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    max-width: 60rem;
    margin: auto;
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
}

.first-heading>img {
    float: right;
}

.head3>img {
    float: left;
}

h2{
    font-family: Georgia, serif;
}
blockquote {
    font-family: Georgia, serif;
    border-left: 3px solid grey;
    margin-left: 0.5rem;
    max-width: 50%;
    font-style: italic;
    float: right;
    padding-left: 1rem;
}

blockquote>p:nth-child(2) {
    text-align: right;
}

img {

    padding: 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
    width: 8rem;
    border: 2px solid black;
    padding: 0.6rem;
    background-color:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

main {
    max-width: 47rem;
}

section {
    display: flex;

    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
}

li>a {
    color:rgb(0, 153, 0);
}