@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

.button{
    color: rgb(51, 51, 51);
    background-color: white;
    border: 1px solid rgb(51, 51, 51);
     cursor: pointer;
    outline: none;
    border-radius:12px;
    padding: 5px;
    
}

.fill{
    background-color: black;
    color:rgb(251, 251, 251);
}
.hover:hover{
    background-color: green;
    color:rgb(251, 251, 251);

    }
#grey{
    
    color: rgb(51, 51, 51);
}